header {
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
    // background-color: rgba(255, 255, 255, 0.233);
    //    background-color: white;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    transition: all 0.2s;
    &:hover {
        background-color: white;
    }
    .navbar {
        padding: .5rem 0 !important;
    }
    .right {
        position: absolute;
        display: flex;
        top: 30%;
        right: 0%;
        div {
            a {
                color: #9b9b9b;
            }
            font-size: 13px;
            padding-right: 15px;
        }
        img {
            border-radius: 50%;
        }
        select {
            background: none;
            margin-top: 3px;
            color: #9b9b9b;
            font-size: 13px;
            padding-right: 10px;
            border: none;
            &:focus {
                outline: none;
            }
        }
    }
    .header__content {
        position: relative;
        width: 98%;
        margin: 0 auto;
        a {
            text-decoration-line: none;
        }
        //padding: 5px 0;
        align-items: center;
        display: flex;
        .mid {
            position: absolute;
            left: 33%;
            top: 21%;
            ul {
                display: flex;
                li {
                    padding: 0 10px;
                    list-style-type: none;
                    a {
                        color: #000;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:275px) and(max-width:414px) {
    .banner3,
    .banner2,
    .banner1,
    .banner4,
    .banner5 {
        background-position: center;
        height: 180px !important;
    }
    .owl-nav,
    .owl-dots {
        display: none;
    }
    .mid {
        left: 55% !important;
        top: 100% !important;
        right: 0;
        .nav__listItem {
            background: white;
            margin-right: 50px;
            li {
                a {
                    padding-left: 29%;
                    font-size: .8em;
                }
            }
        }
    }
    .right {
        margin-right: 3rem !important;
    }
}

@media screen and (min-width:415px) and(max-width:1024px) {
    .banner3,
    .banner2,
    .banner1,
    .banner4,
    .banner5 {
        background-position: center;
        height: 450px !important;
    }
    .mid {
        left: 77% !important;
        top: 100% !important;
        right: 0;
        .nav__listItem {
            background: white;
            margin-right: 50px;
            li {
                a {
                    padding-left: 30%;
                    font-size: 1.01em;
                }
            }
        }
    }
    .right {
        margin-right: 3rem !important;
    }
}